/* @media all and (max-width:1000px) {

} */



/* ------モバイル-------- */
@media all and (max-width: 600px) {
  
  

  /* header */
  .header-logo {
    font-size: 16px;
    width: 30%;
  }
  
  .header-list {
    width: 70%;
  }
  
  .header-list li {
    font-size: 14px;
    margin: 0 2px;

/*   .menu-icon {
    display: block;
    float: right;
  } */
    
/*   -----contact----- */
    
    .modal {
      margin: 0 auto;
      width: 150px;
    }

  .page-header {
    flex-direction: column;
    text-align: center;
  }

  .page-title {
    font-size:2.5rem;
  }
    
/*  ------home------- */
  .heading {
    margin-top:20px;
    }
    
  .info p {
    font-size: 1rem;
    }
    
  
    
 
   
    
/* ------blog------- */

  article {
    width: 100%;
    }
  
    
  aside {
    width: 100%;
  }
    
  .blog-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

    
  #blog .page-title {
    margin-top: 30px;
    }

  aside {
    margin-top: 60px;
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-date {
    width:70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-title {
    font-size: 1.375rem;
  }

  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;

  .post-title, .post-cat {
    margin-left: 80px;
  }
  
   
    
    
    
  /* -------photo------ */

  .big-box {
    grid-column: auto;
    grid-row: auto;
  }

  .big-box img {
    height: 100%;
  }
  

}
